flow.json
[{"id":"28d32afc.1d42d6","type":"tab","label":"MQTT Flow","disabled":false,"info":""},{"id":"88d85966.531e38","type":"mqtt-broker","z":"","name":"flespi.io","broker":"mqtt.flespi.io","port":"1883","clientid":"","usetls":false,"compatmode":true,"keepalive":"60","cleansession":true,"birthTopic":"","birthQos":"0","birthPayload":"","closeTopic":"","closeQos":"0","closePayload":"","willTopic":"","willQos":"0","willPayload":""},{"id":"1e44e466.60981c","type":"mqtt-broker","z":"","name":"mosquitto","broker":"test.mosquitto.org","port":"1883","clientid":"","usetls":false,"compatmode":true,"keepalive":"60","cleansession":true,"birthTopic":"","birthQos":"0","birthPayload":"","closeTopic":"","closeQos":"0","closePayload":"","willTopic":"","willQos":"0","willPayload":""},{"id":"e8c05642.d4b938","type":"mqtt-broker","z":"","name":"local:1883","broker":"localhost","port":"1883","clientid":"","usetls":false,"compatmode":true,"keepalive":"60","cleansession":true,"birthTopic":"","birthQos":"0","birthPayload":"","closeTopic":"","closeQos":"0","closePayload":"","willTopic":"","willQos":"0","willPayload":""},{"id":"aec7a6b5.e53188","type":"mqtt-broker","z":"","name":"hive mq","broker":"broker.hivemq.com","port":"1883","clientid":"","usetls":false,"compatmode":true,"keepalive":"60","cleansession":true,"birthTopic":"","birthQos":"0","birthPayload":"","closeTopic":"","closeQos":"0","closePayload":"","willTopic":"","willQos":"0","willPayload":""},{"id":"67c5a3e6.82720c","type":"mqtt in","z":"28d32afc.1d42d6","name":"mqtt","topic":"sensors/#","qos":"0","broker":"e8c05642.d4b938","x":222,"y":212,"wires":[["4b29400c.8a619"]]},{"id":"4b29400c.8a619","type":"debug","z":"28d32afc.1d42d6","name":"","active":true,"tosidebar":true,"console":true,"tostatus":false,"complete":"payload","x":449,"y":206,"wires":[]},{"id":"e2441614.3f2cc8","type":"inject","z":"28d32afc.1d42d6","name":"Open sensor 1","topic":"sensors/sensor1","payload":"Open","payloadType":"str","repeat":"","crontab":"","once":false,"onceDelay":0.1,"x":211,"y":67,"wires":[["9a9ffa6a.1d07d8"]]},{"id":"9a9ffa6a.1d07d8","type":"mqtt out","z":"28d32afc.1d42d6","name":"","topic":"","qos":"0","retain":"","broker":"e8c05642.d4b938","x":454,"y":92,"wires":[]},{"id":"c9dc6752.e47bf8","type":"inject","z":"28d32afc.1d42d6","name":"Close sensor 1","topic":"sensors/sensor1","payload":"Closed","payloadType":"str","repeat":"","crontab":"","once":false,"onceDelay":0.1,"x":213,"y":119,"wires":[["9a9ffa6a.1d07d8"]]}]